<div class="container">
    <div class="row">
        <div class="col-lg shadow border m-1">
            <div class="text-center">
                <h2>About Me</h2>
                <img src="../../assets/f1.jpeg" alt="profile pic" width="256" height="256" class="rounded-circle">
                <p>As a full-stack developer, I bring a comprehensive skill set in both front-end and back-end technologies, specializing in Java, Spring MVC, Spring Boot, Hibernate, SQL, PL/SQL, and Angular. My expertise includes designing and developing robust web applications, implementing scalable back-end systems, and creating intuitive user interfaces.
                </p>
                <p> In the back-end, I excel in Java-based frameworks, particularly Spring Boot and Spring MVC, for building RESTful APIs and microservices. I leverage Hibernate and JPA for efficient data management and ORM, ensuring seamless database interactions. My proficiency in SQL and PL/SQL enables me to write complex queries, stored procedures, and optimize database performance.

                </p>
                <p>
                    On the front-end, I utilize Angular to develop dynamic and responsive web applications, enhancing user experiences with modern design practices and efficient coding standards. My approach is collaborative and focused on delivering high-quality software solutions that meet client needs.
                </p>
                
            </div>
        </div>
        
    </div>
</div>
